body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.contacts-bg {
    background-image: url(../img/contacts_bg.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-size: cover;
}

.contacts-title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    margin: 2em 0;
}

.contacts-title-bg {
    width:100%;
    position: absolute;
    height: 6em;
    background-color: rgba(0,0,0, .7);
    z-index: -1;
    margin-top: -14em;
    left: 0;
}

.contacts-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts-author {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contacts-author-title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0, .85);
    font-size: 18px;
    padding: 10px 0;
    border-radius: 20px 20px 0px 0px;
}

.contacts-author-content {
    padding: 51px 4px;
    background-color: rgba(255,255,255, 0.8);
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
}

.contacts-author-content i {
    background-image: url('../img/contacts_mail.png');
    background-size: cover;
    margin: 0 8px;
    padding: 6px 14px;
}